<div class="container bg-body-secondary">
  <div class="row">
    <div class="col-7 col-md-9">
      <div class="card border-0 px-sm-3 bg-body-secondary">
        <div class="card-body p-1 p-sm-3">
          <h5 class="card-title">Some of our top services</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam,
            explicabo!
          </p>
        </div>
      </div>
    </div>
    <div class="col-5 col-md-3 text-center card-suggestions align-self-center">
      <a
        href="#"
        class="btn btn-primary"
        style="--bs-btn-padding-y: 3%; --bs-btn-padding-x: 6%"
        >Go somewhere</a
      >
    </div>
  </div>
</div>
