<div id="carousel" class="carousel slide mb-5">
  <div
    class="carousel-indicators position-absolute top-100 start-50 translate-middle mx-0"
  >
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="0"
      class="bg-danger"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="1"
      class="active bg-danger"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="2"
      class="bg-danger"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img
        src="https://picsum.photos/id/237/1920/500"
        class="d-block w-100"
        alt="..."
      />
      <div
        class="carousel-caption w-50 py-0 position-absolute start-50 translate-middle"
      >
        <div class="col-12">
          <p class="carousel-title h1 d-inline-block rounded-1 px-2 py-0 my-2">
            VESTIBULUM
          </p>
        </div>
        <p
          class="carousel-caption-bg d-none d-md-inline-block rounded-2 px-3 py-2"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro.
        </p>
      </div>
    </div>
    <div class="carousel-item active">
      <img
        src="https://picsum.photos/id/238/1920/500"
        class="d-block w-100"
        alt="..."
      />
      <div
        class="carousel-caption w-50 py-0 position-absolute start-50 translate-middle"
      >
        <div class="col-12 text-center">
          <p class="carousel-title h1 d-inline-block rounded-1 px-2 py-0 my-2">
            VESTIBULUM
          </p>
        </div>
        <p
          class="carousel-caption-bg d-none d-md-inline-block rounded-2 px-3 py-2"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://picsum.photos/id/239/1920/500"
        class="d-block w-100"
        alt="..."
      />
      <div
        class="carousel-caption w-50 py-0 position-absolute start-50 translate-middle"
      >
        <div class="col-12">
          <p class="carousel-title h1 d-inline-block rounded-1 px-2 py-0 my-2">
            VESTIBULUM
          </p>
        </div>
        <p
          class="carousel-caption-bg d-none d-md-inline-block rounded-2 px-3 py-2"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon carousel-accent-bg"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon carousel-accent-bg"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
