<!--*****Customers *****-->

<div class="container mb-5">
  <div class="row g-0 align-items-center">
    <div class="col-3"><p class="m-0">our happy customers</p></div>
    <div class="col-7"><hr /></div>
    <div class="col-2">
      <div class="text-end">
        <div class="d-inline-block page-link-arrows rounded-1 py-1 text-center">
          <a
            class="page-link"
            href="#"
            aria-label="Previous"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </div>
        <div class="d-inline-block page-link-arrows rounded-1 py-1 text-center">
          <a
            class="page-link"
            href="#"
            aria-label="Next"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-4">
          <div class="col-2">
            <img
              src="https://picsum.photos/id/237/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/237/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/237/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/237/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/237/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/237/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-4">
          <div class="col-2">
            <img
              src="https://picsum.photos/id/236/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/236/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/236/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/236/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/236/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/236/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-4">
          <div class="col-2">
            <img
              src="https://picsum.photos/id/238/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/238/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/238/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/238/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/238/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
          <div class="col-2">
            <img
              src="https://picsum.photos/id/238/300/200"
              class="d-block w-100 rounded-2"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
