<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Links  -->
  <section class="text-white">
    <div class="container text-center text-md-start py-3">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 mx-auto mb-4">
          <!-- Content -->
          <h6 class="d-inline-block text-uppercase fs-2 fw-bold mb-4">Modus</h6>
          <h6 class="d-inline-block text-uppercase fw-bold mb-4">Versus</h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <p class="fas fa-envelope me-3 d-inline-block">E-mail:</p>
          <p class="d-inline-block fst-italic fw-semibold">info@example.com</p>
          <br />
          <p class="fas fa-envelope me-3 d-inline-block">Phone:</p>
          <p class="d-inline-block fst-italic fw-semibold">182 2569 1567</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase text-secondary fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase text-secondary fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="d-inline-block fst-italic fw-normal mb-4">from the</h6>
          <h6 class="d-inline-block text-uppercase fw-bold mb-4">Blog</h6>
          <div class="card mb-2 border-0 w-100">
            <div class="row g-0 align-items-center">
              <div class="col-4 col-lg-3 align-self-start pt-2">
                <img
                  src="https://picsum.photos/id/230/200"
                  class="img-fluid rounded-2 footer-img"
                  alt="..."
                />
              </div>
              <div class="col-8 col-lg-9">
                <div class="card-body p-0">
                  <p class="card-text m-0">
                    This is a wider card with supporting text below as a
                    natural.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary">30 January 2024</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2 border-0 w-100">
            <div class="row g-0 align-items-center">
              <div class="col-4 col-lg-3 align-self-start pt-2">
                <img
                  src="https://picsum.photos/id/230/200"
                  class="img-fluid rounded-2 footer-img"
                  alt="..."
                />
              </div>
              <div class="col-8 col-lg-9">
                <div class="card-body p-0">
                  <p class="card-text m-0">
                    This is a wider card with supporting text below as a
                    natural.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary">30 January 2024</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <!-- Section: Social media -->
  <section class="footer-end">
    <div class="container">
      <!-- Left -->
      <div
        class="d-flex justify-content-center justify-content-lg-between py-4 border-bottom"
      >
        <div class="me-5 d-none d-lg-block">
          <span>2024 Modus Versus</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="ms-4 text-reset">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="ms-4 text-reset">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="ms-4 text-reset">
            <i class="bi bi-google"></i>
          </a>
          <a href="" class="ms-4 text-reset">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="" class="ms-4 text-reset">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="" class="ms-4 text-reset">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
      <!-- Right -->
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Copyright -->
</footer>
<!-- Footer -->
