<div class="bg-body-secondary mt-5 pt-3">
  <div class="container text-center mt-5">
    <h2 class="pt-3 text-danger">WHY MODUS VERSUS?</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi assumenda vero impedit beatae facilis quidem.</p>
    <div class="row g-0 mb-5 ">
      <div class="col-sm-12 col-md-3 my-auto pt-5">
        <div class="row">
          <div class="col-12 px-0 text-start">
            <div class="card card-suggestions mt-3 border-0 bg-body-tertiary" >
              <img src="https://picsum.photos/id/1/1920/1080" class="card-img-top rounded-end-2 w-100"  alt=""></div>
              <div class="card-body pt-1 mb-5">
                <h5 class="card-title my-5">Why choose US?</h5>
                <p class="card-text">
                  <ul class="list-unstyled">
                    <li class="list-group-item active"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-arrow-right-short card-list-icons" viewBox="0 0 16 16">
                                                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                                        </svg>Cras justo odio</li>
                     <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-arrow-right-short card-list-icons" viewBox="0 0 16 16">
                                                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                                        </svg>Dapibus ac facilisis in</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-arrow-right-short card-list-icons" viewBox="0 0 16 16">
                                                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                                        </svg>Morbi leo risus</li>
                   <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-arrow-right-short card-list-icons" viewBox="0 0 16 16">
                                                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                                        </svg>Porta ac consectetur ac</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-arrow-right-short card-list-icons" viewBox="0 0 16 16">
                                                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                                        </svg>Vestibulum at eros</li>
                  </ul></p>
               </div>
            </div>
          </div>
      </div>
    
      <div class="col-sm-12 col-md-6">
        <div class="card  card-suggestions mt-3 border-0 bg-body-tertiary z-1" >
          <img src="https://picsum.photos/id/2/1920/1080" class="card-img-top rounded-end-2 w-100" alt="..."></div>
          <div class="card-body pt-1 my-5">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quod dicta deserunt atque ea voluptas. <a href="#" class="card-link link-offset-1 ">content Lorem</a> ipsum dolor sit amet consectetur adipisicing.</p>
       </div>
       
      </div>
      
      <div class="col-sm-12 col-md-3 my-auto pt-5">
        <div class="row">
          <div class="col-12 pe-0 ps-1 text-start ">
            <div class="card  card-suggestions mt-3 border-0 bg-body-secondary" >
              <img src="https://picsum.photos/id/3/1920/1080" class="card-img-top rounded-end-2 w-100" alt="">
              <div class="card-body pt-1 mb-5">
                <h5 class="card-title my-5">What Client's Say?</h5>
                <p class="card-text"><blockquote class="blockquote ">
                  <p class="bg-white rounded-3 p-2" >A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer mt-1">
                  John Doe <cite title="Source Title">CEO</cite>
                </figcaption></p>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    </div>
  </div>
</div>