<!--
    <div class="container">
     <div class="card d-flex flex-row align-items-center border-0 mb-2 px-3 bg-body-secondary">
      <div class="card-body">
        <h5 class="card-title">Some of our top services</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, explicabo!</p>
      </div>
      <div class="card-button ">
      <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
       </div>
    </div>
-->

<!--    
  <div class="bg-body-secondary mt-5 pt-3">
    <div class="container text-center mt-5 position-relative" style="height: 250px;" >
      <h2 class="pt-3 text-danger">WHY MODUS VERSUS?</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi assumenda vero impedit beatae facilis quidem.</p>
      <div class="position-absolute top-100 start-50 translate-middle w-100">
      <div class="row g-0 ">
        <div class="col-sm-12 col-md-3 my-auto py-2"><img src="https://picsum.photos/id/1/1920/1080" class="card-img-top rounded-start-2 w-100"  alt=""></div>
        <div class="col-sm-12 col-md-6 py-2"> <img src="https://picsum.photos/id/2/1920/1080" class="card-img-top rounded-2 w-100" alt="..."></div>
        <div class="col-sm-12 col-md-3 my-auto py-2"><img src="https://picsum.photos/id/3/1920/1080" class="card-img-top rounded-end-2 w-100" alt=""></div>
      </div>
      </div>
    </div>
  </div>

 
  <div class="bg-body-secondary my-5 pt-3">
    <div class="container text-center my-5 position-relative" style="height: 350px;" >
      <h2 class="pt-3 text-danger">WHY MODUS VERSUS?</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi assumenda vero impedit beatae facilis quidem.</p>
      <div class="position-absolute top-100 start-50 translate-middle w-100">
      <div class="row g-0 my-5 ">
        <div class="col-sm-12 col-md-3 my-auto py-2"><img src="https://picsum.photos/id/1/1920/1080" class="card-img-top rounded-start-2 w-100"  alt=""></div>
        <div class="col-sm-12 col-md-6 py-2  z-1"> <img src="https://picsum.photos/id/2/1920/1080" class="card-img-top rounded-2 w-100" alt="..."></div>
        <div class="col-sm-12 col-md-3 my-auto py-2"><img src="https://picsum.photos/id/3/1920/1080" class="card-img-top rounded-end-2 w-100" alt=""></div>
      </div>
      </div>
    </div>
  </div>
-->

<!--
  <div class="bg-body-secondary my-5 pt-3">
    <div class="container text-center my-5 position-relative " style="height: 450px;">
      <h2 class="pt-3 text-danger">WHY MODUS VERSUS?</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi assumenda vero impedit beatae facilis quidem.</p>
      <div class="position-absolute top-100 start-50 translate-middle w-100">
      <div class="row g-0 my-5 ">
        <div class="col-sm-12 col-md-3 pt-5">
          <div class="row">
            <div class="col-12 px-0 text-start">
              <div class="card">
                <img src="https://picsum.photos/id/1/300/260" class="card-img-top"  alt="...">
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 z-1">
          <div class="card">
            <img src="https://picsum.photos/id/2/600/355" class="card-img-top"  alt="...">
          </div>
        </div>
        <div class="col-sm-12 col-md-3 pt-5">
          <div class="row">
            <div class="col-12 pe-0 ps-1 text-start ">
              <div class="card">
                <img src="https://picsum.photos/id/3/300/260" class="card-img-top"  alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  -->
